.prank-page-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000; /* Optional: Set a background color */
  }
  
  .prank {
    color: white; /* Change text color to white */
    font-size: 48px; /* Make the text font bigger */
    text-decoration: none; /* Remove the underline */
    transition: color 0.3s ease; /* Smooth transition for hover effect */
  }
  
  .prank:hover {
    color: lightgray; /* Light hover change */
    transform: scale(1.3);
  }
  
  .prank:visited {
    color: white; /* Ensure the text remains white after being visited */
  }
  